<% include ./partials/header %>

<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase mb-30">Medium clone</h1>
      <a href="/topics" class="btn btn-primary js-scroll-trigger">Explore</a>
    </div>
  </div>
</header>

<% include ./partials/footer %>