<% include ./partials/header %>

<div class="container ptb-125">
<div class="card item mb-30">
    <div class="card-body">
        <h5 class="card-title">Settings</h5>
    </div>
</div>
</div>

<% include ./partials/footer %>